{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        <h1 class="govuk-heading-l">You can manage the claimant's DWP benefits</h1>

        <p class="govuk-body">Enduring power of attorney allows you to manage the claimant's benefits  - you don't need to become an appointee.</p>

          <p>To manage their benefits, you must send evidence of the claimant's enduring power of attorney to DWP. You should send the original document to <a href="#" class="govuk-link">example@dwp.gov.uk</a>.</p>
        </form>

    </div>
  </div>

{% endblock %}