{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        <h1 class="govuk-heading-l">Reasonable adjustments</h1>
        <p>The claimant may occasionally need support or adjustments to communication methods to handle aspects of their benefit claim, such as:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>help attending appointments</li>
          <li>receiving large print letters</li>
        </ul>
      </p>
        </form>

    </div>
  </div>

{% endblock %}