{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        <h1 class="govuk-heading-l">Send the court order to DWP</h1>
          <p>The guardian must have a court order and be registered with the Office of the Public Guardian (Scotland).</p>

        <p>All court orders must include:
          <ul class="govuk-list govuk-list--bullet">
          <li>The Court of Protection valdiation stamp at the top of the first page. </li>
          <li>The Court of Protection seal at the bottom of the page</li>
        </ul>
      </p>

      <p>Please send documentation to <a href="#" class="govuk-link">xxxxx@dwp.co.uk</a></p>

        </form>

    </div>
  </div>

{% endblock %}