{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Personal acting bodies</h1>


        <h2 class="govuk-heading-m">Add a basic PAB</h2>
        
         <p><a href="/pab/add-pab-build1/relationship-type" class="govuk-link">Build 1</a></p>
         <p><a href="/pab/add-pab/relationship-type" class="govuk-link">Build 2</a></p>

             <h2 class="govuk-heading-m">End a PAB</h2>

         <p><a href="/pab/remove-pab/LL-pab-details" class="govuk-link">Version 1</a></p>

  </div>
</div>

<h2 class="govuk-heading-m">Error scenario screens</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    /pab/no-matching-representative
      No matching representative found
    </a>
  </li>
</ul>

{% endblock %}