{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Power of Attorney has ended"
      }) }}

      <p class="govuk-body">
        John Erikson no longer holds Power of Attorney for Erik Erikson.
      </p>

            <p class="govuk-body"><a class="govuk-link" href="">
        Return to Erik Erikson's personal details</a>
      </p>

       {{ govukButton({
        text: "Restart prototype",
        classes: "govuk-button--secondary",
        href: "/pab/index"
      }) }}
       
    </div>
  </div>
{% endblock %}
