{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Power of Attorney has ended"
      }) }}

      <p class="govuk-body">
        John Erikson is no longer the Power of Attorney for Erik Erikson.
      </p>

            <p class="govuk-body"><a class="govuk-link" href="/pab/index">
        Go back to John's personal details</a>
      </p>
      
    </div>
  </div>
{% endblock %}
