{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<main class="govuk-main-wrapper" id="main-content" role="main">
  {% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       <form class="form" method="post">
          {{ govukRadios({
            name: "end-reason",
            fieldset: {
              legend: {
                text: "Why is the relationship ending?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "appointee-died",
                text: "Appointee has died",
                checked: checked("end-reason", "appointee-died")
              },   
              {
                value: "legal-authority",
                text: "Legal authority in place",
                checked: checked("end-reason", "legal-authority")
              },
              {
                value: "ended-relationship",
                text: "Appointee has ended the relationship",
                checked: checked("end-reason", "ended-relationship")
              },                  
              {
              value: "unacceptable-behaviour",
              text: "Unacceptable behaviour",
              checked: checked("end-reason", "unacceptable-behaviour")
              },
              {
              value: "can-act-self",
              text: "Claimant can act for themselves",
              checked: checked("end-reason", "can-act-self")
            }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
       </form>
       
      </div>
   </div>
  </div>
  {% endblock %}
</main>


