{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

{% set endReasonLabels = {
  "appointee-died": "Appointee has died",
  "legal-authority": "Legal authority in place",
  "ended-relationship": "Appointee has ended the relationship",
  "unacceptable-behaviour": "Unacceptable behaviour",
  "can-act-self": "Claimant can act for themselves"
} %}


{% set months = [
  "January","February","March","April","May","June",
  "July","August","September","October","November","December"
] %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check details before ending the relationship</h1>

      <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationship type
            </dt>
            <dd class="govuk-summary-list__value">
          Appointee
            </dd>
              <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End reason
            </dt>
            <dd class="govuk-summary-list__value">
          {{ endReasonLabels[data["end-reason"]] or "Not provided" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/remove-appointee/iteration-3/end-reason">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>

            <dd class="govuk-summary-list__value">

            {% if data["end-date-day"] and data["end-date-month"] and data["end-date-year"] %}

              {{ data["end-date-day"] }}
              {{ months[data["end-date-month"] | int - 1] }}
              {{ data["end-date-year"] }}

            {% else %}
              Not provided
            {% endif %}

            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/remove-appointee/iteration-3/rel-end-date">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
        </dl>

      <h2 class="govuk-heading-m">Customer</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Eric Smith"
      }
    },
        {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "16 Jan 1955"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "7 Acacia Avenue<br>
        Gateshead<br>
        Tyne and Wear<br>
        NE1 2BA"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Appointee</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "John Smith"
      }
    },
        {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "28 June 1980"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "14 West Avenue<br>
        Leeds<br>
        LS1 1TN"
      }
    }
  ]
}) }}

<p class="govuk-body">Confirm that John Smith will no longer act as an Appointee for Eric Smith.</p>



        {{ govukButton({
          text: "Save and confirm",
          href: "/remove-appointee/iteration-3/end-confirmation"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
