{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Decision recorded",
        html: "Appointee status<br><strong>Ended</strong>"
      }) }}

      <p class="govuk-body">
        John Smith is no longer the appointee for Erik Smith.
      </p>
      
      <div class="govuk-!-padding-bottom-6"></div>

      {{ govukButton({
        text: "Restart prototype",
        classes: "govuk-button--secondary",
        href: "/remove-appointee/iteration-3/LL-pab-jump-off"
      }) }}
    </div>
  </div>
{% endblock %}
