{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


      <h2 class="govuk-heading-m">Remove an Appointee</h2>
      <p><a href="/appointee/remove/iteration-2/end-reason" class="govuk-link">Prototype</a></p>
     
        <h2 class="govuk-heading-m">Service problems</h2>
        <p><a href="/appointee/remove/iteration-2/service-unavailable" class="govuk-link">Problem with service</a></p>

      <h2 class="govuk-heading-m">Error screens</h2>
      <h3 class="govuk-heading-s">End reason</h3>
      <p><a href="/appointee/remove/iteration-2/error-message/no-reason-selected" class="govuk-link">No reason selected</a></p>
    
       <h3 class="govuk-heading-s">End date</h3>
      <p><a href="/appointee/remove/iteration-2/error-message/day-not-entered" class="govuk-link">Day not entered</a></p>
      <p><a href="/appointee/remove/iteration-2/error-message/month-not-entered" class="govuk-link">Month not entered</a></p>
      <p><a href="/appointee/remove/iteration-2/error-message/year-not-entered" class="govuk-link">Year not entered</a></p>
      <p><a href="/appointee/remove/iteration-2/error-message/invalid-date" class="govuk-link">Enter a valid date</a></p>
      <p><a href="/appointee/remove/iteration-2/error-message/year-4-digits" class="govuk-link">Year must include 4 numbers</a></p>
      <p><a href="/appointee/remove/iteration-2/error-message/no-date-entered" class="govuk-link">All date fields are empty</a></p>
      <p><a href="/appointee/remove/iteration-2/error-message/end-date-in-future" class="govuk-link">End date is in the future</a></p>

      <p><a href="/appointee/remove/iteration-2/error-message/multiple-error-dates" class="govuk-link">Multiple errors for dates</a></p>

  </div>
</div>

{% endblock %}
