{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {{
        dwpQuickReference({
            ariaLabel: "personal-details",
            primaryReference: {
                text: 'Name:',
                value: 'Erik Erikson'
            },
            secondaryReference: {
                text: 'National Insurance number:',
                value: 'QQ 12 34 56 A'
            }
        })
}}
{% endblock %}

  {% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       <form class="form" method="post" action="/pab/add-pab/pab-details">

          {{ govukRadios({
            name: "relationship-type",
            fieldset: {
              legend: {
                text: "What type of relationship do you want to add?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Appointee",
                text: "Appointee"
              },
                  {
                value: "Power of Attorney",
                text: "Power of Attorney"
              },
              {
                value: "Deputyship",
                text: "Deputyship"
              },
                {
                value: "Guardianship",
                text: "Guardianship"
              },
             {
                value: "Controller",
                text: "Controller"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
          
       </form>
       
      </div>
   </div>
  </div>

  {% endblock %}
  

