{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
    {% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Remove an Appointee</h1>

      <h3 class="govuk-heading-m">Current version</h3>

       {{ govukButton({
        text: "V3 Prototype",
        href: "/remove-appointee/iteration-3/LL-pab-jump-off",
        isStartButton: true
      }) }}

      <p>May 2026 - present</p>
      <p>Used for research June 2026</p>

      <h2 class="govuk-heading-m">Versions</h2>

      <p><a href="/remove-appointee/iteration-2/end-reason" class="govuk-link">V2- April 2026</a></p>

      <p><a href="/remove-appointee/iteration-1/rel-details-landing-v2" class="govuk-link">V1- December 2025</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-l">Error scenarios</h3>

      {{ govukAccordion({
        id: "accordion-default",
        items: [
          {
            heading: {
              text: "Error screens"
            },
            content: {
              html: '<p><a href="/remove-appointee/error-messages/no-reason-selected" class="govuk-link">No reason selected</a></p>
    
       <h3 class="govuk-heading-s">End date</h3>
      <p><a href="/remove-appointee/error-messages/day-not-entered" class="govuk-link">Day not entered</a></p>
      <p><a href="/remove-appointee/error-messages/month-not-entered" class="govuk-link">Month not entered</a></p>
      <p><a href="/remove-appointee/error-messages/year-not-entered" class="govuk-link">Year not entered</a></p>
      <p><a href="/remove-appointee/error-messages/invalid-date" class="govuk-link">Enter a valid date</a></p>
      <p><a href="/remove-appointee/error-messages/year-4-digits" class="govuk-link">Year must include 4 numbers</a></p>
      <p><a href="/remove-appointee/error-messages/no-date-entered" class="govuk-link">All date fields are empty</a></p>
      <p><a href="/remove-appointee/error-messages/end-date-in-future" class="govuk-link">End date is in the future</a></p>

      <p><a href="/remove-appointee/error-messages/multiple-error-dates" class="govuk-link">Multiple errors for dates</a></p>'
            }
          },
                    {
            heading: {
              text: "Service errors"
            },
            content: {
              html: ' <p><a href="/remove-appointee/service-unavailable-pages/problem-with-service" class="govuk-link">Problem with service</a></p>
              <p><a href="/remove-appointee/service-unavailable-pages/rel-ended" class="govuk-link">relationship ended in CIS</a></p>
              <p><a href="/remove-appointee/service-unavailable-pages/no-rel-record-CIS" class="govuk-link">no records existing for a relationship in CIS</a></p>
              <p><a href="/remove-appointee/service-unavailable-pages/no-rel-record" class="govuk-link">no records existing for a relationship</a></p>'
            }
          }
        ]
      }) }}
     

  </div>
</div>

{% endblock %}
