{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

   {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Appointee journey 2024- rebuilt"
      },
      content: {
        html: '<p><a href="/appointee/fit-for-live/scenario-1/searchlight/search" class="govuk-link">Appointee journey 2024</a></p>'
      }
    },
        {
      heading: {
        text: "Self service Add an appointee discovery"
      },
      content: {
        html: '<p><a href="/self-service/iteration-1/start-content-page" class="govuk-link">Iteration 1: ACS Team</a></p>'
      }
    }
  ]
}) }}
       
  </div>
</div>

{% endblock %}
