{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Advanced Customer Support team</h2>


    <p class="govuk-body">
    Proof of concept prototype for the Add an appointee triage tool 2026.
    </p>

    {{ govukButton({
      text: "Start now",
      href: "/self-service/iteration-1/start-content-page",
      isStartButton: true
    }) }}

    <p class="govuk-body govuk-!-margin-bottom-9"></p>

    <h2 class="govuk-heading-l">Relationships team</h2>

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Relationships: Add an Appointee 2024"
      },
      content: {
        html: '<p><a href="/appointee/fit-for-live/scenario-1/searchlight/search" class="govuk-link">Add an Appointee journey</a></p>'
      }
    },
     {
      heading: {
        text: "Remove and Appointee"
      },
      content: {
        html: '<p><a href="/appointee/remove/rel-details-landing-v2" class="govuk-link">Remove appointee: Iteration 1</a></p>'
      }
    }
  ]
}) }}
       
  </div>
</div>

{% endblock %}
