{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

      <h2 class="govuk-heading-m">Remove an Appointee</h2>
      <p><a href="/appointee/remove/iteration-2/iteration-2-index" class="govuk-link">Iteration 2</a></p>
      <p><a href="/appointee/remove/iteration-1/rel-details-landing-v2" class="govuk-link">Iteration 1</a></p>

        <h2 class="govuk-heading-m">Add an appointee in Searchlight</h2>
        <p><a href="https://relationship-service-prototype.herokuapp.com/appointee/iteration-12/searchlight/" class="govuk-link">Old prototype 2024</a></p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

 <h2 class="govuk-heading-l">Advanced Customer Support team</h2>

     <p class="govuk-body">
    Proof of concept prototype for the Add an appointee triage tool 2026.
    </p>

    {{ govukButton({
      text: "Start now",
      href: "/self-service/iteration-1/start-content-page",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
