{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">


         {{ govukRadios({
            name: "assessed-hcp",
            fieldset: {
                legend: {
                text: "Has the claimant been assessed as lacking capacity to make financial decisions?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "The assessment must have been done by a medical professional such as a GP, or local authority social services"
            },
            items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
            ]
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        </form>

    </div>
  </div>

{% endblock %}