{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

      <h1 class="govuk-heading-l">Does the claimant have a Scottish Guardianship order or Deputyship?</h1>

      {{ govukDetails({
      summaryText: "What is Scottish Guardianship or Deputyship",
      text: "A Scottish guardianship order is appointed by the Sheriff Court, and a Deputyship is appointed by the Court of Protection in England and Wales."
    }) }}

         {{ govukRadios({
            name: "guardian-deputyship",
            fieldset: {
                legend: {
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                value: "deputyship",
                text: "Yes, they have a Deputyship"
                },
                {
                value: "scottish-guardianship",
                text: "Yes, they have a Scottish guardianship order"
                },
                {
                value: "no",
                text: "No"
                }
            ]
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        </form>

    </div>
  </div>

{% endblock %}