{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Does the claimant need some help to manage their benefits, such as communication adjustments or attending appointments?</h1>

       <form class="form" method="post">

         {{ govukRadios({
            name: "help-communicating",
            fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
            },
            items: [
                {
                value: "adjustments-needed",
                text: "Yes, some adjustments are needed"
                },
                {
                value: "none-needed",
                text: "No adjustments needed"
                }
            ]
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        </form>

    </div>
  </div>

{% endblock %}