{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" method="post">

         {{ govukRadios({
            name: "help-communicating",
            fieldset: {
            legend: {
              text: "Does the claimant need  help to communicate with DWP?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
            },
            hint: {
            text: "Including large print letters or help attending appointments"
            },
            items: [
                {
                value: "adjustments-needed",
                text: "Yes"
                },
                {
                value: "none-needed",
                text: "No"
                }
            ]
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        </form>

    </div>
  </div>

{% endblock %}