{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

                 {{ govukRadios({
                  name: "individual-org",
                  fieldset: {
                      legend: {
                        text: "What is your relationship to the claimant?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                      }
                  },
                  items: [
                      {
                      value: "personal-rel",
                      text: "I am a family member of the claimant"
                      },
                       {
                      value: "personal-rel",
                      text: "I am a friend of the claimant"
                      },
                      {
                      value: "corp-org",
                      text: "I work for an organisation that is helping the claimant"
                      }
                  ]
                  }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        </form>

    </div>
  </div>

{% endblock %}