{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Does the customer need help managing their DWP benefits?</h1>
      <p class="govuk-body">
       This could be any of the following:
      </p>

       <form class="form" method="post">

         {{ govukRadios({
            name: "help-managing-affairs",
            fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
            },
            items: [
                {
                value: "support-for-health",
                text: "needing support due to health or circumstance"
                },
                {
                value: "terminal-health-condition",
                text: "they have a terminal health condition"
                },
                {
                value: "single-person",
                text: "they are a single person"
                },
                {
                value: "under-16",
                text: "they are under 16"
                },
                {
                  divider: "or"
                },
                {
                value: "no",
                text: "no, they do not need help"
                }
            ]
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        </form>

    </div>
  </div>

{% endblock %}