{% extends "layouts/support-claimant.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<head>
  <title>Help a claimant</title>
</head>
 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Help a claimant
      </h1>

      <p>Learn how you can support someone who claims DWP benefits, including:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>managing their benefits yourself</li>
      <li>adjustments when they attend appointments</li>
      <li>help with communicating, like large print letters</li>
    </ul>


      {{ govukButton({
        text: "Start now",
        href: "/self-service/iteration-1/individual-org",
        isStartButton: true
      }) }}

    </div>

  </div>

{% endblock %}
