{% extends "layouts/support-claimant.html" %}

<head>
  <title>Help a claimant</title>
</head>
 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Help a claimant
      </h1>

      <p>They could receive help such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>get a reasonable adjustment</li>
        <li>get implicit, or explicit consent or an alternative enquiry</li>
        <li>get a representative to act on behalf of someone</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "/self-service/iteration-1/individual-org",
        isStartButton: true
      }) }}

    </div>

  </div>

{% endblock %}
