
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block header %}
  {{
    dwpHeader({
      serviceName: "Relationships service",
      serviceHref: "/index",
      container: true
    })
  }}
{% endblock %}


<main id="main-content" role="main">
  {% block content %}{% endblock %}
</main>



{% block footer %}
  {{
    dwpFooter({
      meta: {
        visuallyHiddenTitle: "footer links",
        items: [
{
                    href: "#1",
                    text: "Accessibility statement"
                },
                {
                    href: "#2",
                    text: "Privacy"
                }
        ]
      }
    })
  }}
{% endblock %}
